<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Takehome assignment">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <title>Dot Game</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../public/style.css">

  </head>
  <body>
    <h1> • • • dot game • • •</h1>
      <div class="bar">
          <div class="speed"><p>1x</p></div>
        <div>score<div class="score">0</div></div>
          <div class="pause"><i class="far fa-pause-circle"></i></div>
      </div>
    <div class="game-container">
      <div class="dot" data-points="points">
      </div>
    </div>
    <!-- import the webpage's client-side javascript file -->
    <script src="../public/script.js"></script>
  </body>
</html>
