<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Takehome assignment">
    <link rel="stylesheet" href="../public/style.css">

    <title>Dot Game</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../public/style.css">

  </head>
  <body>
    <h1>dot game!</h1>
    <div class="game-container">
      <div class="bar">
        <div class="score">score: 0</div>
        <div class="buttons">
          <div class="speed">speed: 1x</div>
          <div class="pause">pause</div>
        </div>
      </div>
      <div class="dot">
        <p class="points">points</p>
      </div>
    </div>
    <!-- import the webpage's client-side javascript file -->
    <script src="../public/script.js"></script>
  </body>
</html>
