h1 {
  font-family: monospace;
  color: #FF6069;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.game-container {
  height: 400px;
  width: 300px;
  background: #EEF9FC;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.bar {
  background: #FF6069;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  color: #EEF9FC;
  font-weight: bolder;
  text-align: center;
}

.speed {
  background: #FF6069;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #EEF9FC;
}

.speed p {
  margin-top: 2px;
  font-size: 16px;
  font-weight: bolder;
}

.pause {
  font-size: 30px;
  color: #EEF9FC;
}

.dot {
  height: 10px;
  width: 10px;
  background: #FF6069;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
